<div id = "home-template">
  <div class="col-xs-7">
    <h1>Certified Technicians To Handle All Your Plumbing, Fire  Sprinkler, Back Flow and Irrigation Needs</h1>
  </div>
  <div class="col-xs-7">
    <div class="col-xs-12 col-md-3">
      <img src="" alt="" />
      <h1>Plumbing</h1>
    </div>
    <div class="col-xs-12 col-md-3">
      <img src="" alt="" />
      <h1>Fire Sprinklers</h1>
    </div>
    <div class="col-xs-12 col-md-3">
      <img src="" alt="" />
      <h1>Backflow Services</h1>
    </div>
    <div class="col-xs-12 col-md-3">
      <img src="" alt="" />
      <h1>Irrigation</h1>
    </div>
  </div>
</div>
